/*
    Style.css
    Stylesheet du site "Qu'est ce que Linux ?"
    Par Navet56
    2018
    v2.1
    Hebergé à l'adresse : cyriel.tk/linux
*/

body {
   font-family: Bookman, URW Bookman L, serif ;/*La police est Bookman pour tout le body*/
   background-image: url("images/metal.jpg");/*Met une texture en fond*/
}

h4 {
  color: #474747;
}

h2 {
  color: #006666;
  font-size: 38px;
}

h3 { /*J'utilise h3 pour les messages d'alerte car je ne l'utilise pas dans mon site*/
  color: red; /*D'ou la couleur rouge pour le texte*/
  font-size: 25px;
}

h1 {
  text-align: center;
  font-size: 50px:
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer { /*Parametrage du bas de page*/
  display: flex;
  padding: 10px 5px;
  background-color: black;
  color: #fff;
  text-align: center;
}

footer p { /*Parametrage du texte dans le bas de page*/
  flex: 1;
  margin: 0;
}

.header {/*Classe de l'en tête*/
  background: black;
	
}

nav {/*La balise nav est relative à la barre de navigation entre les pages*/
  position: fixed;/*Position fixée, cela permet que la barre reste au même endroit même en scrollant*/
  z-index: 1;/*Précise l'empilement des objets, 0 correspond à l'image de fond de l'en tête, donc 1 est au dessus ce qui permet d'avoir la barre de navigation au dessus*/
  top: 0;/*Permet a la barre de ne pas prendre en compte la marge du haut*/
  width: 100%;
  height: 35px;
}

nav ul {
  list-style: none;/*Permet d'utiliser la liste html sans les points devant les liens*/
  margin: 0;
  padding: .2em 2em;
}

nav ul li {
  display: inline-block;/*Permet de mettre le texte en ligne et que chaque lien soit comme des blocs, si l'on zoom, le lien restera entier et pas coupé*/
  margin: 5px;
  padding: .2em .7em;
}

nav a {
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;/*Pas de soulignage*/
  font-family: Ubuntu;
  font-size: 1.5em;
  letter-spacing: 1px;/*Espacement des lettres de 1 pixel*/
  transition: .25s ease-in-out;/*Animation au passage de la souris (transition de 0.25 s)*/
}

nav a:hover {/*Lorsque la souris passe sur le lien : */
  color:  #00ccff;/*le mettre en bleu*/
}

nav a.active {/*Lorsque c'est la page active */
  color:  #00ccff;/*le laisser en bleu*/
}

.animation {/*Classe l'image de l'en tête animé*/
  position: relative;
  width: 100%;
  height: 400px;
  background: purple url(images/bkg.jpg) no-repeat 50% 50%;/*Le fond est violet hors image et le zoom se fait de 50% du coté gauche et droit*/
  background-size: 130%; /*Taille du fond, si on met moins de 100, le fond noir apparrait*/
}

.animation h1 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
/*Ces 4 données précisent la position et la taille du titre de la page*/

  font-size: 3em;
  text-shadow: white 2px 2px, white -2px 2px, white -2px -2px, white 2px -2px;/*Permet de créer un contour (ici, blanc)*/
}

.corps {
  padding: 1em 10%; /*Ce padding permet d'avoir un peu d'espace entre l'entête et le corps*/
  text-align: center;/*Aligner le texte sur toute la division corps*/
  font-size: 30px;
}
